/* 
====== 
Error
======
*/
.page {
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  text-transform: capitalize;
}


.btn {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
}
/* 
====== 
Product List
======
*/